<ion-view view-title="Login Page">
    <ion-content class="padding" scroll="false">
      <!--slider section-->
        <ion-slide-box id="login-section">
            <ion-slide class="slide-01">
            </ion-slide>
            <ion-slide class="slide-02">
            </ion-slide>
            <ion-slide class="slide-03">
            </ion-slide>
        </ion-slide-box>
      <!--login buttons-->
        <div 
        class="row" 
        style="padding:0px;">
            <div 
            class="col-50" 
            style="padding:0px 5px 0px 0px;">
                <button 
                class="button button-google icon-right ion-social-google button-block card-2">
                  Login with 
                </button>
            </div>
            <div 
            class="col-50" 
            style="padding:0px 0px 0px 5px;">
                <button 
                class="button button-facebook icon-right ion-social-facebook button-block card-2">
                  Login with 
                </button>
            </div>
        </div>      
    </ion-content>
</ion-view>