<ion-view view-title="{{vm.title}}">
    <ion-content scroll="true">
    <!--toolbar-->
        <div class="toolbar">
        <!--toolbar-title-->
            <div class="toolbar-title">
                Search Car 
            </div>
        <!--toolbar-footer-->
            <!--<div class="row toolbar-footer">
                <div class="col-50">
                    My Favourites
                </div>
                <div class="col-50">
                    Default Search
                </div>
            </div>-->
        </div>
    <!--search bar-->
    <!--list of search result-->
        <div class="padding">
        <!--search bar-->
            <label class="item item-input">
                <span class="input-label">
                    <i class="ion-search">&nbsp;</i>
                    Search
                </span>
                <input type="text">
            </label>
        <!--search result-->
            <div ng-repeat="result in results">
                <div class="card list-40 card-3 border-radius-6">
                    <h6>{{result.make}}</h6>
                    <p>{{result.model}}</p>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
