<ion-view view-title="{{vm.title}}">
    <ion-content scroll="false">
    <!--toolbar-->
        <div class="toolbar">
            <div class="toolbar-title">
                Search Car 
            </div>
            <!--<div class="row toolbar-footer">
                <div class="col-50">
                    My Favourites
                </div>
                <div class="col-50">
                    Default Search
                </div>
            </div>-->
        </div>
    <!--search bar-->

        <!--<div class="padding">
            <div class="list card">

            </div>
        </div>-->
    </ion-content>
</ion-view>
